#TextoIntroducao {
    font-size: 40.0;
    color: #CCCCCC;
}

button {
    width: 450;
    height: 150;
    font-size: 20;
    color: #CCCCCC;
    background-color: #80000000;
    border-width: 1;
    border-radius: 0;
    border-color: #CCCCCC;
}
